<mat-card>  
  <mat-card-title>    
      Mailing Service    
  </mat-card-title>
<mat-card-content>    
<form>
<mat-form-field class="login-full-width">
  <input matInput placeholder="E Mail">
  <mat-hint>Errors appear instantly!</mat-hint>
  <mat-error>E</mat-error>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Password">
</mat-form-field>
<br>
<span>
<button class="login-button" (click)="goDashboard()" mat-raised-button color="accent">Login</button>
</span>
<button (click)="onForgetClick()" mat-raised-button color="accent">Register</button>
</form>
</mat-card-content>    
</mat-card>  