.mat-toolbar.mat-primary{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}
.dashboard-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  }
  .menu-sidenav{
    width:200px;
  }

  .sidemenu-content{
    margin-left: 10px;
  }
  .mail-list{
    background: white;
  }
  .content-div{
    background-color: white;
  }


  
  