<mat-toolbar role="heading" color="primary">My App</mat-toolbar>
<mat-sidenav-container class="dashboard-container">
  <mat-sidenav class="menu-sidenav" opened mode="side">
    <mat-list>
      <mat-list-item> 
          <mat-icon mat-list-icon>folder</mat-icon><p>Inbox</p> </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
     </mat-list>
  </mat-sidenav>
  <mat-sidenav class="mail-list-sidenav"opened mode="side" position="end">End content</mat-sidenav>
  Implicit main content
</mat-sidenav-container>
